*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.myDiv{
    height: 10px;
}

figure img{
    max-width: 100%;
    height: 115px;
    width: 65%;
    object-fit: cover;
    border-radius: 5px;
    
}
.countryCard{
    height: 365px;
    transition: 1s;
}

.countryCard:hover{
    transform:scale(1.1);
    z-index: 1;
}